/*
+-------------------------------+
|        Vbox UsersPanel        |
+-------------------------------+
*/

.vboxUser{
    -fx-background-color: #fef9df;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}
.vboxTextField{
    -fx-background-color: #bfbebb;
    -fx-text-fill: #000000;
}